name: BuildImage

on:
  push:
    tags:
      - 'c*.*.*'
  workflow_dispatch:
    inputs:
      cmake-version:
        description: 'CMake version'
        required: true
        default: '3.30.2'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  build_multi_arch_images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # for creating OIDC tokens for signing.
    outputs:
      digest: ${{ steps.docker_build.outputs.digest }}
    steps:
      # Extract version for docker tag
      - name: Get version
        run: |
          if [ -z "${{ github.event.inputs.cmake-version }}" ]; then
            echo "CMAKE_VERSION=${GITHUB_REF##*/}" | sed s/c// >> $GITHUB_ENV
          else
            echo "CMAKE_VERSION=${{ github.event.inputs.cmake-version }}" >> $GITHUB_ENV
          fi

      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Login to DockerHub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          tags: |
            type=raw,value=latest
            type=raw,value=GHA_${{ github.run_number }}
            type=raw,value=CMake-${{ env.CMAKE_VERSION }}
          images: |
            atsigncompany/cbuildimage
          labels: |
            org.opencontainers.image.description=Atsign C build image

      - name: Build and push Multi Arch buildimage
        id: docker_build
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6.19.1
        with:
          file: ./Dockerfile
          build-args: CMAKE_VERSION=${{ env.CMAKE_VERSION }}
          push: true
          sbom: true
          provenance: version=v1,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: |
            linux/amd64
            linux/arm64/v8

      - name: Sign the images with GitHub OIDC Token
        env:
          DIGEST: ${{ steps.docker_build.outputs.digest }}
          TAGS: ${{ steps.meta.outputs.tags }}
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes ${images}

  slsa_provenance:
    needs: [build_multi_arch_images]
    permissions:
      actions: read # for detecting the Github Actions environment.
      id-token: write # for creating OIDC tokens for signing.
      packages: write # for uploading attestations.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: "atsigncompany/cbuildimage"
      digest: ${{ needs.build_multi_arch_images.outputs.digest }}
    secrets:
      registry-username: ${{ secrets.DOCKERHUB_USERNAME }}
      registry-password: ${{ secrets.DOCKERHUB_TOKEN }}
